<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{% static "css/mystyle.css"%}"/> -->
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">豆</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tofuapp:register' %}">Register</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">logout</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              三毛
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'tofuapp:tofu' %}">tofu</a></li>
              <li><a class="dropdown-item" href="{% url 'tofuapp:lulu' %}">lulu</a></li>
              <li><a class="dropdown-item" href="{% url 'tofuapp:lucas' %}">lucas</a></li>
            </ul>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tofuapp:user_login' %}">login</a>
        {% endif %}
        </li>


      </ul>
    </div>
  </div>
</nav>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'index' %}">brand</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index' %}">admin</a></li>
          <li><a class="navbar-link" href="{% url 'tofuapp:lulu' %}">lulu</a></li>
          <li><a class="navbar-link" href="{% url 'tofuapp:tofu' %}">tofu</a></li>

        </ul>

      </div>
    </nav> -->

    <div class="container">
      {% block body_block %}

      {% endblock %}
    </div>

  </body>
</html>
