<!DOCTYPE html>
{% extends "tofuapp/base.html"%}
{% load static %}
{% block body_block %}
       <h1>welcome to lulu</h1>
       <img src="{% static "image/20201114_IMG_1145.PNG" %}" alt="???">
       <img src="{% static "image/20201225_IMG_2099.PNG" %}" alt="???">
       <img src="{% static "image/20210114_IMG_2649.PNG" %}" alt="???">
       <img src="{% static "image/20210125_IMG_2872.PNG" %}" alt="???">
       <img src="{% static "image/IMG_0357.JPEG" %}" alt="???">
       <img src="{% static "image/IMG_2714.JPG" %}" alt="???">
       <img src="{% static "image/IMG_9657.JPEG" %}" alt="???">
       {% endblock %}
