<!DOCTYPE html>
{% extends "tofuapp/base.html"%}
{% load static %}
{% block body_block %}
    <h1>tofupage</h1>
    <img src="{% static "image/20201206_IMG_1737.PNG" %}" alt="">
    <img src="{% static "image/20201206_IMG_1738.PNG" %}" alt="">
    <img src="{% static "image/20201208_IMG_1777.JPG" %}" alt="">
    <img src="{% static "image/20201207_temp.gif" %}" alt="">
    <img src="{% static "image/IMG_7430.png" %}" alt="">

    {% endblock %}
    <!-- <!DOCTYPE html>
    {% load static %}
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <title></title>
      </head>
      <body>
        <img src="{% static "image/20201206_IMG_1737.PNG" %}" alt="">
        <img src="{% static "image/20201206_IMG_1738.PNG" %}" alt="">
        <img src="{% static "image/20201208_IMG_1777.JPG" %}" alt="">
        <img src="{% static "image/20201207_temp.gif" %}" alt="">
        <img src="{% static "image/IMG_7430.png" %}" alt="">

      </body>
    </html> -->
